* {
  	box-sizing: border-box;
}

html {
  	font-size: 14px;
  	font-family: 'Noto Sans', sans-serif;
}

body {
	background-color: #f1f1f1;
}

main {
	float: right;
	margin-left: 300px;
	padding-left: 10%;
}

main h3 {
	font-size: 2rem;
}

a {
	color: #536dfe;
	text-decoration: none; 
}

ul {
  list-style-type: none;
}

header {
	background-color: #536dfe;
	color: white;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

h4 {
	font-size: 1.35rem;
}

nav {
	width: 100%;
}

#portrait {
	margin: 50px 100px 50px 10%;
	float: left;
}

.lobster {
	font-family: 'Lobster', cursive;
	font-size: 3.5rem;
}

.lobster ul {
	font-weight: lighter;
	font-size: 2rem;
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    display: inline-block;
}

#profile {

}

#name {
	font-size: 3.5rem;
	background-color: #536dfe;
	color: white;
}